.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  border: solid 1px black;
  border-radius: 10px;
  height: 200px;
}

.highlighted {
  border: 3px solid orange;
}

.selected {
  border: 3px solid red;
}
