header {
  background-color: red;
}

.title {
  color: white;
}

.name {
  font-size: x-large;
  color: green;
}

.gameStats {
  display: flex;
  justify-content: space-between;

  background-color: orange;
}

.timer {
  color: green;
}

.buttonsContainer {
  background-color: brown;
}
