/* Cards are always equally distributed over columns and rows */

.gameboard {
  display: grid;
  grid-template-columns: repeat(4, 160px); /* 12 cards = 4×3 */
  gap: 2rem;

  height: 100%;
  padding: 3.5rem;
}

@media (max-width: 900px) {
  .gameboard {
    grid-template-columns: repeat(3, 160px); /* 12 cards = 3×4 */
    gap: 1.5rem;
  }
}

@media (max-width: 600px) {
  .gameboard {
    grid-template-columns: repeat(2, 160px); /* 12 cards = 2×6 */
    gap: 1rem;
  }
}
